.body {
   background-color: rgb(218, 218, 218);
}
.title {
   font-size: 7rem;
 text-shadow: 0.25rem 0.25rem 0.125rem rgb(252, 235, 7);
}
.div-container {
width: 400px;
height: 200px;
background: linear-gradient(to right,red 5%,white 50%,red 95%);
margin: auto;
box-shadow: 1rem 1rem 0.5rem 0.5rem rgb(148, 148, 148);
margin: 3rem;
}

.div-bandera { 
   width: 400px;
   height: 200px;
   margin: auto;
   box-shadow: 1rem 1rem 2rem 0;
   
}
.red {
   background-color: red;
   width: 33.33%;
   height: 100%;
   float: left;
}
.white {
   background-color: white;
   width: 33.33%;
   height: 100%;
   float: left;
}
